* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;	
    cursor: url('./assets/default-cursor.svg'), auto;	
}

*, input, button {
    font-family: 'Epilogue', sans-serif;
}

body {
    background-color: #232323;

}

img {
    user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}